<%= form_with(model: stuff, local: true) do |form| %>
  <% if stuff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stuff.errors.count, "error") %> prohibited this stuff from being saved:</h2>

      <ul>
      <% stuff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "分類" %>
    <%= form.text_field :name, id: :stuff_name %>
  </div>

  <div class="field">
    <%= form.label :sub_name1, "名前" %>
    <%= form.text_field :sub_name1, id: :stuff_sub_name1 %>
  </div>

  <div class="field">
    <%= form.label :sub_name2, "名前2"%>
    <%= form.text_field :sub_name2, id: :stuff_sub_name2 %>
  </div>

  <div class="field">
    <%= form.label :description1, "道具の説明" %>
    <%= form.text_field :description1, id: :stuff_description1 %>
  </div>

  <div class="field">
    <%= form.label :description2, "道具の説明2"%>
    <%= form.text_field :description2, id: :stuff_description2 %>
  </div>

  <div class="field">
    <%= form.label :description3,  "道具の説明3" %>
    <%= form.text_field :description3, id: :stuff_description3 %>
  </div>

  <div class="field">
    <%= form.label :description4, "責任者・利用者"%>
    <%= form.text_field :description4, id: :stuff_description4 %>
  </div>

  <!-- <div class="field">
    <%= form.label :image, "画像"%>
    <%= form.text_field :image, id: :stuff_image %>
  </div> -->

  <div class="actions">
    <%= form.submit "追加" %>
  </div>
<% end %>
