<p id="notice"><%= notice %></p>
<h1>団体所有道具一覧</h1>
<script type="text/javascript" src="tablefilter.js"></script>
<h2>絞り込み検索</h2>
<div class="menu new-stuff">
  <%= link_to 'リストに道具を追加する', new_stuff_path %>
</div>
<table id="Table">

    <tr class="colTitle">
      <th>No.</th>
      <th>

        <select id="SelectT" onChange="goFilterT();">
          <option value="all">全て</option>
          <% @stuffs.each do |stuff| %>
          <option value="<%= stuff.name %>"><%= stuff.name %></</option>
          <%end%>
        </select>

      </th>
        <!-- <th>
          <select id="sampleSelectS" onChange="goFilterS();">
            <option value="all">全て</option>
            <option value="nami">並</option>
            <option value="nobi">伸</option>
          </select>
        </th>
        <th>
          <select id="sampleSelectW" onChange="goFilterW();">
            <option value="all">全て</option>
            <option value="w9">9kg</option>
            <option value="w10">10kg</option>
            <option value="w11">11kg</option>
            <option value="w12">12kg</option>
            <option value="w13">13kg</option>
          </select>
        </th> -->
        <% @stuffs.each do |stuff| %>
        <!-- <tbody> -->
            <tr>
              <td value="<%= stuff.name %>" >
                <%= stuff.name %>
              </td>
              <td value="<%= stuff.sub_name1 %>" >
                <%= stuff.sub_name1 %>
              </td>
              <td value="<%= stuff.sub_name2 %>" >
                <%= stuff.sub_name2 %>
              </td>
              <td value="<%= stuff.description1 %>" >
                <%= stuff.description1 %>
              </td>
              <td value="<%= stuff.description2 %>" >
                <%= stuff.description2 %>
              </td>
              <td value="<%= stuff.description3 %>" >
                <%= stuff.description3 %>
              </td>
            <% stuff.users.each do |user| %>
              <td value="<%= user.name %>" >
                <%= user.name %>
              </td>
            <% end %>
              <!-- <td id="destroy"><%#= link_to '全体リストから削除', stuff.id, method: :delete, data: { confirm: '本当に削除しますか？' } %></td> -->
            </tr>
            <td id="change"><%= link_to '情報変更', edit_stuff_path(stuff.id) %></td>

        <!-- </tbody> -->
        <% end %>
    </tr>
    <!-- <thead>
      <tr>
        <th>分類</th>
        <th>名前</th>
        <th>名前2</th>
        <th>道具の説明</th>
        <th>道具の説明2</th>
        <th>道具の説明3</th>
        <th>責任者</th>
        <th>画像</th>
        <th colspan="3"></th>
      </tr>
    </thead> -->

</table>
