<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stuff.name %>
</p>

<p>
  <strong>Sub name1:</strong>
  <%= @stuff.sub_name1 %>
</p>

<p>
  <strong>Sub name2:</strong>
  <%= @stuff.sub_name2 %>
</p>

<p>
  <strong>Description1:</strong>
  <%= @stuff.description1 %>
</p>

<p>
  <strong>Description2:</strong>
  <%= @stuff.description2 %>
</p>

<p>
  <strong>Description3:</strong>
  <%= @stuff.description3 %>
</p>

<p>
  <strong>User:</strong>
  <%= @stuff.user_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @stuff.image %>
</p>

<%= link_to 'Edit', edit_stuff_path(@stuff) %> |
<%= link_to 'Back', stuffs_path %>
