<div class="row">
  <!-- <aside class="col-md-4">
    <section class="user_info">
      <h1>ようこそ、<%= @user.name %>さん</h1>
    </section>
  </aside> -->
  <div class="col-md-8">
    <% if @user.stuffs.any? %>
      <h3>個人所有物一覧 (<%= @user.stuffs.count %>)</h3>
      <div class="menu index">
        <%= link_to "一覧", stuffs_path %>
      </div>
      <ol class="stuffs">
        <!--個人の所有物一覧のページ、_stuff.html.erbを表示する  -->
        <%= render @stuffs %>
      </ol>
      <%= will_paginate @stuffs %>
    <% end %>
  </div>
</div>

<!-- <%= gravatar_for @user %> =>元 h1 tag内-->
<!--  -->
